h1{
   /*  background: #f93922;
    margin-left: 100px;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-right: 100px; */

/* margin: 100px; */

/* margin: 150px 250px; */

margin: 350px 250px 350px 250px;

}




p{
    background:  #3922f9;
    padding: 70px 25px 70px 25px;
}